Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Flask-Compress==1.15
Flask-Bcrypt==1.0.1
authlib==1.3.1
requests==2.32.3
PyJWT==2.8.0
python-dotenv==1.0.1
psycopg2-binary==2.9.11
flask-limiter==3.5.0
resend
gunicorn